/* configurações gerais ==============================================*/

:root {
    --cor: white;
    --cor1: #97D4D7;
    --cor2: #013B5D;
    --cor3: #d2ace0;
    --cor4: #9567ad;
    --cor5: #fed7fe;
    --cor6: rgb(244, 244, 198);

}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: 'Alexandria', 'Open Sans', sans-serif;
}

p {
    text-align: justify;
    text-justify: inter-word;
    margin-left: 2%;
    margin-right: 2%;
}

h1,
h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 6rem;
    text-align: center;
}

h2 {
    font-size: 2.2rem;
    text-align: center;
}



/* BARRA DE NAVEGAÇÃO - NAVBAR =====================================*/

.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    padding: 5px;
    width: 100vw;
    height: 9.5%;
    background: var(--cor3);
    border-bottom: 2px solid var(--cor4);
    z-index: 10;
}

ul {
    display: flex;
}

.nav-list {
    display: flex;
    margin-right: 1.5rem;
}

.nav-list a {
    display: block;
    font-size: 2.2rem;
    font-weight: 700;
    padding: 1.5rem;
    text-decoration: none;
    color: var(--cor2);
}

.nav-list a:hover {
   
    background: var(--cor1);
    color: var(--cor2);
    border-radius: 7%;
}

/* 1 seção - welcome-section ==================================== */

#welcome-section {
    display: flex;
    flex-direction: column;
    padding-top: 9em;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(Fverde.jpg);
    background-size: cover;
    color: var(--cor);
}


/* foto jack */

.fperf {
    width: 100%;
    max-width: 18vw;
    margin: 10px;
    border-radius: 50%;
    border: 6px solid var(--cor4);
    background-color: var(--cor3);
}

#welcome-section>p {
    padding-bottom: 1em;
    font-size: 1.5em;
}



#welcome-section>h1 {
    padding: 10px;
}

#welcome-section>h2 {
    padding: 15px;
    color: var(--cor4);
}


/* 2 seção - projects-section ===================================*/

.projects-section p {
    padding: 0.7em;
    font-size: 1.5em;
}

.projects-section>h1 {
    color: var(--cor1);
    font-size: 5.5em;
}

.projects-section {
    text-align: center;
    padding: 10rem 2rem;
    width: 100%;
    height: 100vh;
    margin: auto;
    background-image: url(Fbranco.jpeg);
    background-position: center;
    background-size: cover;
    color: var(--cor4);
}

#projects {
    text-align: center;
    padding: 10rem 2rem;
}

.projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid var(--main-white);
}


/* 3 seção - contact =============================================*/

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 90vh;
    padding: 15rem;
    background-image: url(Froxo.jpg);
    background-position: center;
    background-size: cover;
    color: var(--cor);
}

.contact-section-header>h2 {
    font-size: 6rem;
}

.contact-section-header>p {
    font-style: italic;
    font-size: 3em;
    text-align: center;
    color: var(--cor);
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 100vw;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.contact-links a {
    text-decoration: none;
    font-weight: 700;
    color: var(--cor2);
}

.contact-links a::before {
    color: var(--cor2);
}


.contact-details {
    font-size: 2.4rem;
    transition: transform 0.3s ease-out;
    font: bold;
}

.contact-details:hover {
    transform: translateY(8px);
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
}

.btn-show-all>i {
    margin-left: 10px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
}

/* Footer */

footer {
    font-weight: 400;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    color: var(--cor);
    background: var(--cor2);
    border-top: 4px solid var(--cor4);
    width: 100vw;

}

footer>p {
    margin: 2em;
    text-align: center;
}

footer i {
    vertical-align: middle;
}

footer a {
    text-decoration: none;
    color: var(--cor1);
}


/* Midias ======================================================*/

@media (max-width: 75em) {
    html {
        font-size: 60%;
    }
}


@media (max-width: 61.25em) {
    html {
        font-size: 58%;
    }
}


@media (max-width: 28.75em) {
    html {
        font-size: 55%;
    }
}

@media (max-width:1064px) {

    .fperf {
        width: 100%;
        max-width: 22vw;
    }
}

@media (max-width:425px) {



    #welcome-section {
        
        background-image: url(FverdeV.jpg);
        background-size: cover;

    }

    #welcome-section>h1 {
        font-size: 4.5em;
    }

    .projects-section {
        background-image: url(FbrancoV.jpg);
        background-size: cover;    
    }

    .contact-section {
        background-image: url(FrovoV.jpg);
        background-size: cover;
    }

    .contact-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }


    .fperf {
        width: 100%;
        max-width: 35vw;
    }



    .contact-section-header>h2 {
        font-size: 6em;
    }
}


@media (max-width:357px) {

    .fperf {
        width: 100%;
        max-width: 43vw;
    }

    #welcome-section>h1 {
        font-size: 3.7em;
    }

    #welcome-section>h2 {
        font-size: 1.7em;
        padding: 7px;
    }

    .projects-section>h1 {
        font-size: 4em;
    }

    
    .contact-section-header>h2 {
        font-size: 3.7em;
    }
}

@media (max-width:320px) {

    .nav{
        justify-content: center;
        text-align: center;
        height: 8vh;
        padding: 0;
    }

    .nav-list {
        margin:0; 
    }


    #welcome-section{
        padding-top: 7em;
    }

    .fperf {

        width: 100%;
        max-width: 45vw;
    }

    .nav-list a {
        font-size: 1.7em;
    }

    #welcome-section>h1 {
        font-size: 3.7em;
    }

    #welcome-section>h2 {
        font-size: 2em;
        padding: 7px;
    }

    .projects-section>h1 {
        font-size: 4em;
    }

    .projects-section p {
        padding: 0;
    }

    .contact-section-header>h2 {
        font-size: 4em;
    }

}
